videos/Auto-aim[[:space:]]auto-nav.mp4 filter=lfs diff=lfs merge=lfs -text
videos/Localization[[:space:]]and[[:space:]]Path[[:space:]]Planning.mp4 filter=lfs diff=lfs merge=lfs -text
videos/continous_fire_autoaim_moving.mp4 filter=lfs diff=lfs merge=lfs -text
videos/continous_fire_autoaim_spinning.mp4 filter=lfs diff=lfs merge=lfs -text
videos/hero_shot_timing.mp4 filter=lfs diff=lfs merge=lfs -text
videos/Auto-Tokyo.mp4 filter=lfs diff=lfs merge=lfs -text
photos/solo_photo_of_sentry.png filter=lfs diff=lfs merge=lfs -text
photos/team_photo_with_robots_at_comp.png filter=lfs diff=lfs merge=lfs -text
photos/goofy_team_photo.png filter=lfs diff=lfs merge=lfs -text
photos/me_checking_sentry_during_beginning_of_match.png filter=lfs diff=lfs merge=lfs -text
photos/sentry_targeting_on_top_of_a_ramp.png filter=lfs diff=lfs merge=lfs -text
